body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icon {
    background: url("/Content/Images/compare-header-icon.png") no-repeat;
    width: 70px;
    height: 62px;
    position: relative;
    float: left;
    left: -80px;
    margin-right: -100px;
}

.custom-nav-text {
    position: relative;
    top: 5px;
}

.full-width {
    margin: 0 !important;
    width: 100% !important;
}

.one-fifth {
    margin: 0 !important;
    width: 20% !important;
}

.full-height {
    margin: 0 !important;
    height: 100% !important;
}

.disp-block {
    display: block !important;
}

.disp-inl-block {
    display: inline-block !important;
}

.vert-center {    
    vertical-align: middle !important;
    float: none;
}

.curs-point {
    cursor: pointer;
}