@{
    ViewBag.Title = "CarsCompare - Главная страница";
}

@Scripts.Render("~/bundles/angular")

<div class="jumbotron">
    <div data-ng-app="carsCompareApp" data-ng-controller="compareCtrl">
        <div class="row">
            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите бренд..." name="brands[]">
                    <option value="title">Выберите бренд...</option>
                    <option data-ng-repeat="brand in response.brands" value="{{ brand.id }}">
                        {{ brand.name }}
                    </option>
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите модель..." name="models[]">
                    <option value="title">Выберите модель...</option>
                    <option data-ng-repeat="model in response.models" value="{{ model.id }}">
                        {{ model.name }}
                    </option>
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите версию..." name="versions[]">
                    <option value="title">Выберите версию...</option>
                    <option data-ng-repeat="version in response.versions" value="{{ version.id }}">
                        {{ version.name + '(' + version.gen + ' + ' + version.mod + ')' }}
                    </option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите модификацию..." name="modifies[]">
                    <option value="title">Выберите модификацию...</option>
                    <option data-ng-repeat="modify in response.modifies" value="{{ modify.id }}">
                        {{ modify.name + '(' + modify.yearFrom + ' - ' + modify.yearTo + ')' }}
                    </option>
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите группу параметров..." name="paramGroups[]">
                    <option value="title">Выберите группу параметров...</option>
                    <option data-ng-repeat="paramGroup in response.paramGroups" value="{{ paramGroup.id }}">
                        {{ paramGroup.name }}
                    </option>
                </select>
            </div>

            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите название параметра..." name="paramNames[]">
                    <option value="title">Выберите название параметра...</option>
                    <option data-ng-repeat="paramName in response.paramNames" value="{{ paramName.id }}">
                        {{ paramName.name + '(' + paramName.units + ')' }}
                    </option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <select class="form-control selectpicker" data-width="100%" title="Выберите параметр..." name="params[]">
                    <option value="title">Выберите параметр...</option>
                    <option data-ng-repeat="param in response.params" value="{{ param.id }}">
                        {{ param.value }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/customScripts")