@{
    ViewBag.Title = "CarsCompare - Главная страница";
}

@Scripts.Render("~/bundles/angular", "~/bundles/angular-ui")

<div class="jumbotron">
    <div data-ng-app="carsCompareApp" data-ng-controller="compareCtrl">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn lg btn-primary" data-ng-click="open()">Выбрать автомобиль для сравнения</button>
            </div>
        </div>
        <div class="row" data-ng-show="!!cars.length">
            <ul>
                <li data-ng-repeat="car in cars">
                    <h2>{{ car.brand.name }}</h2>
                    <h2>{{ car.model.name }}</h2>
                    <h2>{{ car.version.name }}</h2>
                    <h2>{{ (car.modify.yearFrom | formatBigYear) + ' &mdash; ' + (car.modify.yearTo | formatBigYear) }}</h2>
                    <ul>
                        <li data-ng-repeat="paramGroup in paramGroups">
                            <h3>{{ paramGroup.name }}</h3>
                            <ul>
                                <li data-ng-repeat="paramName in paramGroup.paramNames">
                                    <span>{{ paramName.name }}</span>
                                    &emsp;
                                    <span data-ng-repeat="param in car.params | objectsArrayFirst : paramName">
                                        {{ param.value | paramBlankValue }}
                                    </span>
                                    &emsp;
                                    <span>{{ paramName.units }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/customScripts")