@{
    ViewBag.Title = "CarsCompare - Главная страница";
}

@Styles.Render("~/Content/ui-bootstrap", "~/Content/select")
@Scripts.Render("~/bundles/angular", "~/bundles/ui-bootstrap", "~/bundles/select")

<div data-ng-app="carsCompareApplication">
    <div class="jumbotron" data-ng-controller="compareCtrl">
        <div class="full-width">
            <div class="disp-inl-block" style="width: calc(20% - 1px);">
                <div class="text-center curs-point" data-ng-click="addCar()">
                    <p>Выбрать автомобиль для сравнения</p>
                    <img src="@Url.Content("~/Content/Images/add.png")" alt="" />
                    <p class="full-width text-center">
                        <small><a href="javascript:void(0)" data-ng-click="clearCars()">Очистить сравнение</a></small>
                    </p>
                </div>
            </div>
            <div class="disp-inl-block text-center bg-info" data-ng-if="!!cars.length" data-ng-repeat="car in cars" style="width: calc(20% - 1px);">
                <div>
                    <p>{{ car.brand.name + ' ' + car.model.name }}</p>
                    <p>{{ car.version.name }}</p>
                    <p>{{ (car.modify.yearFrom | formatBigYear) + ' &ndash; ' + (car.modify.yearTo | formatBigYear) }}</p>
                    <p>
                        <small>
                            <a class="pull-left" href="javascript:void(0)" data-ng-click="changeCar($index)">Изменить</a>
                        </small>
                        &emsp;
                        <small>
                            <a class="pull-right" href="javascript:void(0)" data-ng-click="removeCar($index)">Удалить</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="full-width">
            <accordion close-others="false">
                <accordion-group class="full-width" data-ng-if="!!cars.length" data-ng-repeat="paramGroup in paramGroups" is-open="paramGroup.isOpened">
                    <accordion-heading>
                        {{ paramGroup.name }}
                        <i class="pull-right glyphicon" ng-class="{ 'glyphicon-chevron-down': paramGroup.isOpened, 'glyphicon-chevron-up': !paramGroup.isOpened }"></i>
                    </accordion-heading>
                    <div class="full-width" data-ng-repeat="paramName in paramGroup.paramNames">
                        <div class="disp-inl-block" style="width: calc(20% - 1px);">
                            <ul>
                                <li>
                                    <em>{{ paramName.name }}</em>
                                </li>
                            </ul>
                        </div>
                        <div class="disp-inl-block" data-ng-repeat="car in cars" data-ng-if="!!cars.length" style="width: calc(20% - 1px);">
                            <span data-ng-repeat="param in car.params | objectsArrayFirst : paramName">
                                {{ param.value | paramBlankValue }}
                                &nbsp;
                                <em>{{ param.paramName.units }}</em>
                            </span>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/customScripts")